pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "test",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@activity('Get Metadata1').output.lastModified",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"itemname": {
				"type": "String",
				"defaultValue": "bob"
			},
			"lastmodified": {
				"type": "String",
				"defaultValue": "jan"
			},
			"size": {
				"type": "String",
				"defaultValue": "1gb"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}